In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc
warnings.filterwarnings('ignore')

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

# **Data Previous Application**
---
* All previous applications for Home Credit loans of clients who have loans in our sample.
* There is one row for each previous application related to loans in our data sample.
---
**Identifikasi Utama:**

* SK_ID_PREV: ID aplikasi kredit sebelumnya (pengenal unik untuk setiap aplikasi sebelumnya).
* SK_ID_CURR: ID aplikasi kredit saat ini (memungkinkan Anda menghubungkan aplikasi sebelumnya dengan yang saat ini).

**Detail Aplikasi:**

* NAME_CONTRACT_TYPE: Jenis kontrak (misalnya, Pinjaman Tunai, Kredit Konsumen, dll.).
* AMT_ANNUITY: Anuitas pinjaman (jumlah pembayaran bulanan).
* AMT_APPLICATION: Jumlah pinjaman yang diajukan oleh klien.
* AMT_CREDIT: Jumlah kredit akhir yang diberikan.
* AMT_DOWN_PAYMENT: Jumlah uang muka.
* AMT_GOODS_PRICE: Harga barang yang dibeli dengan pinjaman.

**Informasi Proses Aplikasi:**

* WEEKDAY_APPR_PROCESS_START: Hari dalam seminggu aplikasi dimulai.
* HOUR_APPR_PROCESS_START: Jam dalam sehari aplikasi dimulai.
* FLAG_LAST_APPL_PER_CONTRACT: Bendera yang menunjukkan apakah itu aplikasi terakhir untuk kontrak.
* NFLAG_LAST_APPL_IN_DAY: Bendera yang menunjukkan apakah itu aplikasi terakhir klien pada hari itu.

**Rasio Keuangan dan Suku Bunga:**

* RATE_DOWN_PAYMENT: Tingkat uang muka.
* RATE_INTEREST_PRIMARY: Suku bunga pinjaman utama.
* RATE_INTEREST_PRIVILEGED: Suku bunga khusus (jika ada).

**Tujuan dan Status Pinjaman:**

* NAME_CASH_LOAN_PURPOSE: Tujuan pinjaman tunai.
* NAME_CONTRACT_STATUS: Status kontrak (misalnya, Disetujui, Ditolak, Dibatalkan, dll.).
* DAYS_DECISION: Jumlah hari setelah pengajuan keputusan dibuat.

**Karakteristik Klien dan Aplikasi:**

* NAME_PAYMENT_TYPE: Metode pembayaran.
* CODE_REJECT_REASON: Alasan penolakan (jika ada).
* NAME_TYPE_SUITE: Jenis pendamping (misalnya, Keluarga, Kelompok orang, dll.).
* NAME_CLIENT_TYPE: Jenis klien (misalnya, Baru, Berulang, dll.).
* NAME_GOODS_CATEGORY: Kategori barang yang dibeli dengan pinjaman.
* NAME_PORTFOLIO: Portofolio pinjaman.
* NAME_PRODUCT_TYPE: Jenis produk (misalnya, Kartu kredit, Pinjaman konsumen, dll.).
* CHANNEL_TYPE: Saluran tempat pinjaman berasal.
* SELLERPLACE_AREA: Area tempat penjual.
* NAME_SELLER_INDUSTRY: Industri penjual.

**Syarat dan Tanggal Pinjaman:**

* CNT_PAYMENT: Jumlah pembayaran (angsuran).
* NAME_YIELD_GROUP: Kelompok hasil pinjaman.
* PRODUCT_COMBINATION: Kombinasi produk pinjaman.
* DAYS_FIRST_DRAWING: Jumlah hari hingga penarikan pertama pinjaman.
* DAYS_FIRST_DUE: Jumlah hari hingga tanggal jatuh tempo pertama.
* DAYS_LAST_DUE_1ST_VERSION: Jumlah hari hingga tanggal jatuh tempo pertama versi pertama.
* DAYS_LAST_DUE: Jumlah hari hingga tanggal jatuh tempo terakhir.
* DAYS_TERMINATION: Jumlah hari hingga pengakhiran pinjaman.

**Bendera Lainnya:**

* NFLAG_INSURED_ON_APPROVAL: Bendera yang menunjukkan apakah pinjaman diasuransikan pada saat persetujuan.

In [3]:
# df_prev = pd.read_csv('/content/drive/MyDrive/homecredit/previous_application.csv')
df_prev = pd.read_csv('homecredit/previous_application.csv')
df_prev

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877.0,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15.0,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129.0,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11.0,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040.0,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11.0,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158.0,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7.0,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054.0,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9.0,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557097,1936519,435087.0,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,14.0,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1557098,1424140,112324.0,Cash loans,73542.690,2034000.0,2275641.0,NaN,2034000.0,WEDNESDAY,12.0,...,XNA,60.0,low_normal,Cash X-Sell: low,365243.0,-330.0,1440.0,365243.0,365243.0,1.0
1557099,2120159,240276.0,Cash loans,59355.000,2250000.0,2250000.0,NaN,2250000.0,TUESDAY,16.0,...,XNA,60.0,low_action,Cash X-Sell: low,365243.0,-103.0,1667.0,-73.0,-68.0,0.0
1557100,2196217,254242.0,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,10.0,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1557101,1319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_prev['PRODUCT_COMBINATION'].unique().shape

(18,)

In [5]:
df_prev['SK_ID_CURR'].unique().shape

(334723,)

In [6]:
df_prev['SK_ID_PREV'].unique().shape

(1557102,)

In [7]:
df_prev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557102 entries, 0 to 1557101
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1557102 non-null  int64
 1   SK_ID_CURR                   1557101 non-null  float64
 2   NAME_CONTRACT_TYPE           1557101 non-null  object
 3   AMT_ANNUITY                  1210898 non-null  float64
 4   AMT_APPLICATION              1557101 non-null  float64
 5   AMT_CREDIT                   1557100 non-null  float64
 6   AMT_DOWN_PAYMENT             724289 non-null   float64
 7   AMT_GOODS_PRICE              1198672 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1557101 non-null  object
 9   HOUR_APPR_PROCESS_START      1557101 non-null  float64
 10  FLAG_LAST_APPL_PER_CONTRACT  1557101 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1557101 non-null  float64
 12  RATE_DOWN_PAYMENT            724289 non-null   float64
 13  RATE_INTEREST_PRIMARY        5602 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5602 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1557101 non-null  object
 16  NAME_CONTRACT_STATUS         1557101 non-null  object
 17  DAYS_DECISION                1557101 non-null  float64
 18  NAME_PAYMENT_TYPE            1557101 non-null  object
 19  CODE_REJECT_REASON           1557101 non-null  object
 20  NAME_TYPE_SUITE              792690 non-null   object
 21  NAME_CLIENT_TYPE             1557101 non-null  object
 22  NAME_GOODS_CATEGORY          1557101 non-null  object
 23  NAME_PORTFOLIO               1557101 non-null  object
 24  NAME_PRODUCT_TYPE            1557101 non-null  object
 25  CHANNEL_TYPE                 1557101 non-null  object
 26  SELLERPLACE_AREA             1557101 non-null  float64
 27  NAME_SELLER_INDUSTRY         1557101 non-null  object
 28  CNT_PAYMENT                  1210902 non-null  float64
 29  NAME_YIELD_GROUP             1557101 non-null  object
 30  PRODUCT_COMBINATION          1556776 non-null  object
 31  DAYS_FIRST_DRAWING           931319 non-null   float64
 32  DAYS_FIRST_DUE               931319 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    931319 non-null   float64
 34  DAYS_LAST_DUE                931319 non-null   float64
 35  DAYS_TERMINATION             931319 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    931319 non-null   float64
dtypes: float64(20), int64(1), object(16)
memory usage: 439.6+ MB

In [8]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : 'Percent Missing (%)'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    'Percent Missing (%)', ascending=False).round(2)

    # Print some summary information
    print ('Your selected dataframe has ' + str(df.shape[1]) + ' columns.\n'
            'There are ' + str(mis_val_table_ren_columns.shape[0]) + ' columns that have missing values.')

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [9]:
missing_values_table(df_prev)

Your selected dataframe has 37 columns.
There are 36 columns that have missing values.

                             Missing Values  Percent Missing (%)
RATE_INTEREST_PRIVILEGED            1551500                99.64
RATE_INTEREST_PRIMARY               1551500                99.64
RATE_DOWN_PAYMENT                    832813                53.48
AMT_DOWN_PAYMENT                     832813                53.48
NAME_TYPE_SUITE                      764412                49.09
DAYS_LAST_DUE_1ST_VERSION            625783                40.19
DAYS_FIRST_DRAWING                   625783                40.19
DAYS_FIRST_DUE                       625783                40.19
NFLAG_INSURED_ON_APPROVAL            625783                40.19
DAYS_LAST_DUE                        625783                40.19
DAYS_TERMINATION                     625783                40.19
AMT_GOODS_PRICE                      358430                23.02
AMT_ANNUITY                          346204                22.23
CNT_PAYMENT                          346200                22.23
PRODUCT_COMBINATION                     326                 0.02
AMT_CREDIT                                2                 0.00
NAME_PORTFOLIO                            1                 0.00
NAME_YIELD_GROUP                          1                 0.00
NAME_SELLER_INDUSTRY                      1                 0.00
SELLERPLACE_AREA                          1                 0.00
CHANNEL_TYPE                              1                 0.00
NAME_PRODUCT_TYPE                         1                 0.00
SK_ID_CURR                                1                 0.00
NAME_GOODS_CATEGORY                       1                 0.00
NAME_CLIENT_TYPE                          1                 0.00
NAME_CONTRACT_TYPE                        1                 0.00
NAME_PAYMENT_TYPE                         1                 0.00
DAYS_DECISION                             1                 0.00
NAME_CONTRACT_STATUS                      1                 0.00
NAME_CASH_LOAN_PURPOSE                    1                 0.00
NFLAG_LAST_APPL_IN_DAY                    1                 0.00
FLAG_LAST_APPL_PER_CONTRACT               1                 0.00
HOUR_APPR_PROCESS_START                   1                 0.00
WEEKDAY_APPR_PROCESS_START                1                 0.00
AMT_APPLICATION                           1                 0.00
CODE_REJECT_REASON                        1                 0.00

In [10]:
# # Hapus kolom dengan missing values di atas 10%
# threshold = 50
# cols_to_drop = df_prev.columns[df_prev.isnull().mean() * 100 > threshold]
# df_prev.drop(cols_to_drop, axis=1, inplace=True)

In [11]:
# prevap_stats_by_prev = df_prev[['SK_ID_PREV', 'SK_ID_CURR']]

In [12]:
df_prev = df_prev.drop(df_prev.tail(1).index,inplace=False)

In [13]:
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df,
                        columns= categorical_columns,
                        dummy_na= nan_as_category       # Treat NaNs as category
                       )
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

nan_as_category = True

In [14]:
# 4.0 OneHotEncode (OHE) 'object' types in bureau

df_prev, cat_cols = one_hot_encoder(df_prev, nan_as_category= True)

In [15]:
# 4.1

# len(cat_cols)      # 159
cat_cols

['NAME_CONTRACT_TYPE_Cash loans',
 'NAME_CONTRACT_TYPE_Consumer loans',
 'NAME_CONTRACT_TYPE_Revolving loans',
 'NAME_CONTRACT_TYPE_XNA',
 'NAME_CONTRACT_TYPE_nan',
 'WEEKDAY_APPR_PROCESS_START_FRIDAY',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
 'WEEKDAY_APPR_PROCESS_START_nan',
 'FLAG_LAST_APPL_PER_CONTRACT_N',
 'FLAG_LAST_APPL_PER_CONTRACT_Y',
 'FLAG_LAST_APPL_PER_CONTRACT_nan',
 'NAME_CASH_LOAN_PURPOSE_Building a house or an annex',
 'NAME_CASH_LOAN_PURPOSE_Business development',
 'NAME_CASH_LOAN_PURPOSE_Buying a garage',
 'NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land',
 'NAME_CASH_LOAN_PURPOSE_Buying a home',
 'NAME_CASH_LOAN_PURPOSE_Buying a new car',
 'NAME_CASH_LOAN_PURPOSE_Buying a used car',
 'NAME_CASH_LOAN_PURPOSE_Car repairs',
 'NAME_CASH_LOAN_PURPOSE_Education',
 'NAME_CASH_LOAN_PURPOSE_Everyday expenses',
 'NAME_CASH_LOAN_PURPOSE_Furniture',
 'NAME_CASH_LOAN_PURPOSE_Gasification / water supply',
 'NAME_CASH_LOAN_PURPOSE_Hobby',
 'NAME_CASH_LOAN_PURPOSE_Journey',
 'NAME_CASH_LOAN_PURPOSE_Medicine',
 'NAME_CASH_LOAN_PURPOSE_Money for a third person',
 'NAME_CASH_LOAN_PURPOSE_Other',
 'NAME_CASH_LOAN_PURPOSE_Payments on other loans',
 'NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment',
 'NAME_CASH_LOAN_PURPOSE_Refusal to name the goal',
 'NAME_CASH_LOAN_PURPOSE_Repairs',
 'NAME_CASH_LOAN_PURPOSE_Urgent needs',
 'NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday',
 'NAME_CASH_LOAN_PURPOSE_XAP',
 'NAME_CASH_LOAN_PURPOSE_XNA',
 'NAME_CASH_LOAN_PURPOSE_nan',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Canceled',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Unused offer',
 'NAME_CONTRACT_STATUS_nan',
 'NAME_PAYMENT_TYPE_Cash through the bank',
 'NAME_PAYMENT_TYPE_Cashless from the account of the employer',
 'NAME_PAYMENT_TYPE_Non-cash from your account',
 'NAME_PAYMENT_TYPE_XNA',
 'NAME_PAYMENT_TYPE_nan',
 'CODE_REJECT_REASON_CLIENT',
 'CODE_REJECT_REASON_HC',
 'CODE_REJECT_REASON_LIMIT',
 'CODE_REJECT_REASON_SCO',
 'CODE_REJECT_REASON_SCOFR',
 'CODE_REJECT_REASON_SYSTEM',
 'CODE_REJECT_REASON_VERIF',
 'CODE_REJECT_REASON_XAP',
 'CODE_REJECT_REASON_XNA',
 'CODE_REJECT_REASON_nan',
 'NAME_TYPE_SUITE_Children',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_TYPE_SUITE_nan',
 'NAME_CLIENT_TYPE_New',
 'NAME_CLIENT_TYPE_Refreshed',
 'NAME_CLIENT_TYPE_Repeater',
 'NAME_CLIENT_TYPE_XNA',
 'NAME_CLIENT_TYPE_nan',
 'NAME_GOODS_CATEGORY_Additional Service',
 'NAME_GOODS_CATEGORY_Animals',
 'NAME_GOODS_CATEGORY_Audio/Video',
 'NAME_GOODS_CATEGORY_Auto Accessories',
 'NAME_GOODS_CATEGORY_Clothing and Accessories',
 'NAME_GOODS_CATEGORY_Computers',
 'NAME_GOODS_CATEGORY_Construction Materials',
 'NAME_GOODS_CATEGORY_Consumer Electronics',
 'NAME_GOODS_CATEGORY_Direct Sales',
 'NAME_GOODS_CATEGORY_Education',
 'NAME_GOODS_CATEGORY_Fitness',
 'NAME_GOODS_CATEGORY_Furniture',
 'NAME_GOODS_CATEGORY_Gardening',
 'NAME_GOODS_CATEGORY_Homewares',
 'NAME_GOODS_CATEGORY_House Construction',
 'NAME_GOODS_CATEGORY_Insurance',
 'NAME_GOODS_CATEGORY_Jewelry',
 'NAME_GOODS_CATEGORY_Medical Supplies',
 'NAME_GOODS_CATEGORY_Medicine',
 'NAME_GOODS_CATEGORY_Mobile',
 'NAME_GOODS_CATEGORY_Office Appliances',
 'NAME_GOODS_CATEGORY_Other',
 'NAME_GOODS_CATEGORY_Photo / Cinema Equipment',
 'NAME_GOODS_CATEGORY_Sport and Leisure',
 'NAME_GOODS_CATEGORY_Tourism',
 'NAME_GOODS_CATEGORY_Vehicles',
 'NAME_GOODS_CATEGORY_Weapon',
 'NAME_GOODS_CATEGORY_XNA',
 'NAME_GOODS_CATEGORY_nan',
 'NAME_PORTFOLIO_Cards',
 'NAME_PORTFOLIO_Cars',
 'NAME_PORTFOLIO_Cash',
 'NAME_PORTFOLIO_POS',
 'NAME_PORTFOLIO_XNA',
 'NAME_PORTFOLIO_nan',
 'NAME_PRODUCT_TYPE_XNA',
 'NAME_PRODUCT_TYPE_walk-in',
 'NAME_PRODUCT_TYPE_x-sell',
 'NAME_PRODUCT_TYPE_nan',
 'CHANNEL_TYPE_AP+ (Cash loan)',
 'CHANNEL_TYPE_Car dealer',
 'CHANNEL_TYPE_Channel of corporate sales',
 'CHANNEL_TYPE_Contact center',
 'CHANNEL_TYPE_Country-wide',
 'CHANNEL_TYPE_Credit and cash offices',
 'CHANNEL_TYPE_Regional / Local',
 'CHANNEL_TYPE_Stone',
 'CHANNEL_TYPE_nan',
 'NAME_SELLER_INDUSTRY_Auto technology',
 'NAME_SELLER_INDUSTRY_Clothing',
 'NAME_SELLER_INDUSTRY_Connectivity',
 'NAME_SELLER_INDUSTRY_Construction',
 'NAME_SELLER_INDUSTRY_Consumer electronics',
 'NAME_SELLER_INDUSTRY_Furniture',
 'NAME_SELLER_INDUSTRY_Industry',
 'NAME_SELLER_INDUSTRY_Jewelry',
 'NAME_SELLER_INDUSTRY_MLM partners',
 'NAME_SELLER_INDUSTRY_Tourism',
 'NAME_SELLER_INDUSTRY_XNA',
 'NAME_SELLER_INDUSTRY_nan',
 'NAME_YIELD_GROUP_XNA',
 'NAME_YIELD_GROUP_high',
 'NAME_YIELD_GROUP_low_action',
 'NAME_YIELD_GROUP_low_normal',
 'NAME_YIELD_GROUP_middle',
 'NAME_YIELD_GROUP_nan',
 'PRODUCT_COMBINATION_Card Street',
 'PRODUCT_COMBINATION_Card X-Sell',
 'PRODUCT_COMBINATION_Cash',
 'PRODUCT_COMBINATION_Cash Street: high',
 'PRODUCT_COMBINATION_Cash Street: low',
 'PRODUCT_COMBINATION_Cash Street: middle',
 'PRODUCT_COMBINATION_Cash X-Sell: high',
 'PRODUCT_COMBINATION_Cash X-Sell: low',
 'PRODUCT_COMBINATION_Cash X-Sell: middle',
 'PRODUCT_COMBINATION_POS household with interest',
 'PRODUCT_COMBINATION_POS household without interest',
 'PRODUCT_COMBINATION_POS industry with interest',
 'PRODUCT_COMBINATION_POS industry without interest',
 'PRODUCT_COMBINATION_POS mobile with interest',
 'PRODUCT_COMBINATION_POS mobile without interest',
 'PRODUCT_COMBINATION_POS other with interest',
 'PRODUCT_COMBINATION_POS others without interest',
 'PRODUCT_COMBINATION_nan']

In [16]:
# 4.2.1 Just examine NULLs in few features
print(df_prev['DAYS_FIRST_DRAWING'].isnull().sum())     # 673065
# 4.2.2 And also this special constant value: 365243
print((df_prev['DAYS_FIRST_DRAWING'] == 365243).sum())  # 934444

print(df_prev['DAYS_FIRST_DUE'].isnull().sum())         # 673065
print((df_prev['DAYS_FIRST_DUE'] == 365243).sum())      #  40645

print(df_prev['DAYS_LAST_DUE'].isnull().sum())          # 673065
print((df_prev['DAYS_LAST_DUE'] == 365243).sum())       # 211221

print(df_prev['DAYS_TERMINATION'].isnull().sum())       # 673065
print((df_prev['DAYS_TERMINATION']== 365243).sum())     # 225913

625782
872798
625782
37845
625782
197106
625782
210860

In [17]:
df_prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
df_prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
df_prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
df_prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
df_prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

In [18]:
# 5.0 One special feature
#     Add feature: value ask / value received percentage

df_prev['APP_CREDIT_PERC'] = df_prev['AMT_APPLICATION'] / df_prev['AMT_CREDIT']

# 5.1 Numeric features aggregations:
#     Dictionary of what all operations are to 
#     performed on numerical features:

num_aggregations = {
                     'AMT_ANNUITY':             ['min', 'max', 'mean'],
                     'AMT_APPLICATION':         ['min', 'max', 'mean'],
                     'AMT_CREDIT':              ['min', 'max', 'mean'],
                     'APP_CREDIT_PERC':         ['min', 'max', 'mean', 'var'],
                     'AMT_DOWN_PAYMENT':        ['min', 'max', 'mean'],
                     'AMT_GOODS_PRICE':         ['min', 'max', 'mean'],
                     'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
                     'RATE_DOWN_PAYMENT':       ['min', 'max', 'mean'],
                     'DAYS_DECISION':           ['min', 'max', 'mean'],
                     'CNT_PAYMENT':             ['mean', 'sum'],
                    }

In [19]:
# 5.2 Categorical features
#     Create a dictionary for aggregation operations:

cat_aggregations = {}
for cat in cat_cols:
    cat_aggregations[cat] = ['sum']

# 5.2.1    
cat_aggregations

{'NAME_CONTRACT_TYPE_Cash loans': ['mean'],
 'NAME_CONTRACT_TYPE_Consumer loans': ['mean'],
 'NAME_CONTRACT_TYPE_Revolving loans': ['mean'],
 'NAME_CONTRACT_TYPE_XNA': ['mean'],
 'NAME_CONTRACT_TYPE_nan': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_FRIDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_MONDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_SATURDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_SUNDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_THURSDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_TUESDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY': ['mean'],
 'WEEKDAY_APPR_PROCESS_START_nan': ['mean'],
 'FLAG_LAST_APPL_PER_CONTRACT_N': ['mean'],
 'FLAG_LAST_APPL_PER_CONTRACT_Y': ['mean'],
 'FLAG_LAST_APPL_PER_CONTRACT_nan': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Building a house or an annex': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Business development': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a garage': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a home': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a new car': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Buying a used car': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Car repairs': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Education': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Everyday expenses': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Furniture': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Gasification / water supply': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Hobby': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Journey': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Medicine': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Money for a third person': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Other': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Payments on other loans': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Refusal to name the goal': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Repairs': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Urgent needs': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_XAP': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_XNA': ['mean'],
 'NAME_CASH_LOAN_PURPOSE_nan': ['mean'],
 'NAME_CONTRACT_STATUS_Approved': ['mean'],
 'NAME_CONTRACT_STATUS_Canceled': ['mean'],
 'NAME_CONTRACT_STATUS_Refused': ['mean'],
 'NAME_CONTRACT_STATUS_Unused offer': ['mean'],
 'NAME_CONTRACT_STATUS_nan': ['mean'],
 'NAME_PAYMENT_TYPE_Cash through the bank': ['mean'],
 'NAME_PAYMENT_TYPE_Cashless from the account of the employer': ['mean'],
 'NAME_PAYMENT_TYPE_Non-cash from your account': ['mean'],
 'NAME_PAYMENT_TYPE_XNA': ['mean'],
 'NAME_PAYMENT_TYPE_nan': ['mean'],
 'CODE_REJECT_REASON_CLIENT': ['mean'],
 'CODE_REJECT_REASON_HC': ['mean'],
 'CODE_REJECT_REASON_LIMIT': ['mean'],
 'CODE_REJECT_REASON_SCO': ['mean'],
 'CODE_REJECT_REASON_SCOFR': ['mean'],
 'CODE_REJECT_REASON_SYSTEM': ['mean'],
 'CODE_REJECT_REASON_VERIF': ['mean'],
 'CODE_REJECT_REASON_XAP': ['mean'],
 'CODE_REJECT_REASON_XNA': ['mean'],
 'CODE_REJECT_REASON_nan': ['mean'],
 'NAME_TYPE_SUITE_Children': ['mean'],
 'NAME_TYPE_SUITE_Family': ['mean'],
 'NAME_TYPE_SUITE_Group of people': ['mean'],
 'NAME_TYPE_SUITE_Other_A': ['mean'],
 'NAME_TYPE_SUITE_Other_B': ['mean'],
 'NAME_TYPE_SUITE_Spouse, partner': ['mean'],
 'NAME_TYPE_SUITE_Unaccompanied': ['mean'],
 'NAME_TYPE_SUITE_nan': ['mean'],
 'NAME_CLIENT_TYPE_New': ['mean'],
 'NAME_CLIENT_TYPE_Refreshed': ['mean'],
 'NAME_CLIENT_TYPE_Repeater': ['mean'],
 'NAME_CLIENT_TYPE_XNA': ['mean'],
 'NAME_CLIENT_TYPE_nan': ['mean'],
 'NAME_GOODS_CATEGORY_Additional Service': ['mean'],
 'NAME_GOODS_CATEGORY_Animals': ['mean'],
 'NAME_GOODS_CATEGORY_Audio/Video': ['mean'],
 'NAME_GOODS_CATEGORY_Auto Accessories': ['mean'],
 'NAME_GOODS_CATEGORY_Clothing and Accessories': ['mean'],
 'NAME_GOODS_CATEGORY_Computers': ['mean'],
 'NAME_GOODS_CATEGORY_Construction Materials': ['mean'],
 'NAME_GOODS_CATEGORY_Consumer Electronics': ['mean'],
 'NAME_GOODS_CATEGORY_Direct Sales': ['mean'],
 'NAME_GOODS_CATEGORY_Education': ['mean'],
 'NAME_GOODS_CATEGORY_Fitness': ['mean'],
 'NAME_GOODS_CATEGORY_Furniture': ['mean'],
 'NAME_GOODS_CATEGORY_Gardening': ['mean'],
 'NAME_GOODS_CATEGORY_Homewares': ['mean'],
 'NAME_GOODS_CATEGORY_House Construction': ['mean'],
 'NAME_GOODS_CATEGORY_Insurance': ['mean'],
 'NAME_GOODS_CATEGORY_Jewelry': ['mean'],
 'NAME_GOODS_CATEGORY_Medical Supplies': ['mean'],
 'NAME_GOODS_CATEGORY_Medicine': ['mean'],
 'NAME_GOODS_CATEGORY_Mobile': ['mean'],
 'NAME_GOODS_CATEGORY_Office Appliances': ['mean'],
 'NAME_GOODS_CATEGORY_Other': ['mean'],
 'NAME_GOODS_CATEGORY_Photo / Cinema Equipment': ['mean'],
 'NAME_GOODS_CATEGORY_Sport and Leisure': ['mean'],
 'NAME_GOODS_CATEGORY_Tourism': ['mean'],
 'NAME_GOODS_CATEGORY_Vehicles': ['mean'],
 'NAME_GOODS_CATEGORY_Weapon': ['mean'],
 'NAME_GOODS_CATEGORY_XNA': ['mean'],
 'NAME_GOODS_CATEGORY_nan': ['mean'],
 'NAME_PORTFOLIO_Cards': ['mean'],
 'NAME_PORTFOLIO_Cars': ['mean'],
 'NAME_PORTFOLIO_Cash': ['mean'],
 'NAME_PORTFOLIO_POS': ['mean'],
 'NAME_PORTFOLIO_XNA': ['mean'],
 'NAME_PORTFOLIO_nan': ['mean'],
 'NAME_PRODUCT_TYPE_XNA': ['mean'],
 'NAME_PRODUCT_TYPE_walk-in': ['mean'],
 'NAME_PRODUCT_TYPE_x-sell': ['mean'],
 'NAME_PRODUCT_TYPE_nan': ['mean'],
 'CHANNEL_TYPE_AP+ (Cash loan)': ['mean'],
 'CHANNEL_TYPE_Car dealer': ['mean'],
 'CHANNEL_TYPE_Channel of corporate sales': ['mean'],
 'CHANNEL_TYPE_Contact center': ['mean'],
 'CHANNEL_TYPE_Country-wide': ['mean'],
 'CHANNEL_TYPE_Credit and cash offices': ['mean'],
 'CHANNEL_TYPE_Regional / Local': ['mean'],
 'CHANNEL_TYPE_Stone': ['mean'],
 'CHANNEL_TYPE_nan': ['mean'],
 'NAME_SELLER_INDUSTRY_Auto technology': ['mean'],
 'NAME_SELLER_INDUSTRY_Clothing': ['mean'],
 'NAME_SELLER_INDUSTRY_Connectivity': ['mean'],
 'NAME_SELLER_INDUSTRY_Construction': ['mean'],
 'NAME_SELLER_INDUSTRY_Consumer electronics': ['mean'],
 'NAME_SELLER_INDUSTRY_Furniture': ['mean'],
 'NAME_SELLER_INDUSTRY_Industry': ['mean'],
 'NAME_SELLER_INDUSTRY_Jewelry': ['mean'],
 'NAME_SELLER_INDUSTRY_MLM partners': ['mean'],
 'NAME_SELLER_INDUSTRY_Tourism': ['mean'],
 'NAME_SELLER_INDUSTRY_XNA': ['mean'],
 'NAME_SELLER_INDUSTRY_nan': ['mean'],
 'NAME_YIELD_GROUP_XNA': ['mean'],
 'NAME_YIELD_GROUP_high': ['mean'],
 'NAME_YIELD_GROUP_low_action': ['mean'],
 'NAME_YIELD_GROUP_low_normal': ['mean'],
 'NAME_YIELD_GROUP_middle': ['mean'],
 'NAME_YIELD_GROUP_nan': ['mean'],
 'PRODUCT_COMBINATION_Card Street': ['mean'],
 'PRODUCT_COMBINATION_Card X-Sell': ['mean'],
 'PRODUCT_COMBINATION_Cash': ['mean'],
 'PRODUCT_COMBINATION_Cash Street: high': ['mean'],
 'PRODUCT_COMBINATION_Cash Street: low': ['mean'],
 'PRODUCT_COMBINATION_Cash Street: middle': ['mean'],
 'PRODUCT_COMBINATION_Cash X-Sell: high': ['mean'],
 'PRODUCT_COMBINATION_Cash X-Sell: low': ['mean'],
 'PRODUCT_COMBINATION_Cash X-Sell: middle': ['mean'],
 'PRODUCT_COMBINATION_POS household with interest': ['mean'],
 'PRODUCT_COMBINATION_POS household without interest': ['mean'],
 'PRODUCT_COMBINATION_POS industry with interest': ['mean'],
 'PRODUCT_COMBINATION_POS industry without interest': ['mean'],
 'PRODUCT_COMBINATION_POS mobile with interest': ['mean'],
 'PRODUCT_COMBINATION_POS mobile without interest': ['mean'],
 'PRODUCT_COMBINATION_POS other with interest': ['mean'],
 'PRODUCT_COMBINATION_POS others without interest': ['mean'],
 'PRODUCT_COMBINATION_nan': ['mean']}

In [20]:
# 5.3 Perform aggregation now on SK_ID_CURR:

grouped = df_prev.groupby('SK_ID_CURR')
prev_agg=grouped.agg({**num_aggregations, **cat_aggregations})

In [21]:
prev_agg

           AMT_ANNUITY                          AMT_APPLICATION             \
                   min        max          mean             min        max
SK_ID_CURR
100001.0      3951.000   3951.000   3951.000000         24835.5    24835.5
100002.0      9251.775   9251.775   9251.775000        179055.0   179055.0
100003.0      6737.310  98356.995  56553.990000         68809.5   900000.0
100004.0      5357.250   5357.250   5357.250000         24282.0    24282.0
100005.0      4813.200   4813.200   4813.200000             0.0    44617.5
...                ...        ...           ...             ...        ...
456251.0      6605.910   6605.910   6605.910000         40455.0    40455.0
456252.0     10074.465  10074.465  10074.465000         57595.5    57595.5
456253.0      3973.095   5567.715   4770.405000         19413.0    28912.5
456254.0      2296.440  19065.825  10681.132500         18846.0   223789.5
456255.0      2250.000  54022.140  20775.391875         45000.0  1170000.0

                       AMT_CREDIT                       APP_CREDIT_PERC  ...  \
                  mean        min        max       mean             min  ...
SK_ID_CURR                                                               ...
100001.0     24835.500    23787.0    23787.0   23787.00        1.044079  ...
100002.0    179055.000   179055.0   179055.0  179055.00        1.000000  ...
100003.0    435436.500    68053.5  1035882.0  484191.00        0.868825  ...
100004.0     24282.000    20106.0    20106.0   20106.00        1.207699  ...
100005.0     22308.750        0.0    40153.5   20076.75        1.111173  ...
...                ...        ...        ...        ...             ...  ...
456251.0     40455.000    40455.0    40455.0   40455.00        1.000000  ...
456252.0     57595.500    56821.5    56821.5   56821.50        1.013622  ...
456253.0     24162.750    13945.5    27306.0   20625.75        1.058833  ...
456254.0    121317.750    21456.0   247423.5  134439.75        0.878356  ...
456255.0    362770.875    45000.0  1271929.5  424431.00        0.716332  ...

           PRODUCT_COMBINATION_Cash X-Sell: middle  \
                                              mean
SK_ID_CURR
100001.0                                      0.00
100002.0                                      0.00
100003.0                                      0.00
100004.0                                      0.00
100005.0                                      0.00
...                                            ...
456251.0                                      0.00
456252.0                                      0.00
456253.0                                      0.00
456254.0                                      0.00
456255.0                                      0.25

           PRODUCT_COMBINATION_POS household with interest  \
                                                      mean
SK_ID_CURR
100001.0                                          0.000000
100002.0                                          0.000000
100003.0                                          0.333333
100004.0                                          0.000000
100005.0                                          0.000000
...                                                    ...
456251.0                                          0.000000
456252.0                                          0.000000
456253.0                                          0.000000
456254.0                                          0.500000
456255.0                                          0.000000

           PRODUCT_COMBINATION_POS household without interest  \
                                                         mean
SK_ID_CURR
100001.0                                                  0.0
100002.0                                                  0.0
100003.0                                                  0.0
100004.0                                                  0.0
100005.0                                                  0.0
...                                                       ...
456251.0                                                  0.0
456252.0                                                  1.0
456253.0                                                  0.0
456254.0                                                  0.0
456255.0                                                  0.0

           PRODUCT_COMBINATION_POS industry with interest  \
                                                     mean
SK_ID_CURR
100001.0                                         0.000000
100002.0                                         0.000000
100003.0                                         0.333333
100004.0                                         0.000000
100005.0                                         0.000000
...                                                   ...
456251.0                                         0.000000
456252.0                                         0.000000
456253.0                                         0.000000
456254.0                                         0.000000
456255.0                                         0.125000

           PRODUCT_COMBINATION_POS industry without interest  \
                                                        mean
SK_ID_CURR
100001.0                                                 0.0
100002.0                                                 0.0
100003.0                                                 0.0
100004.0                                                 0.0
100005.0                                                 0.0
...                                                      ...
456251.0                                                 0.0
456252.0                                                 0.0
456253.0                                                 0.0
456254.0                                                 0.0
456255.0                                                 0.0

           PRODUCT_COMBINATION_POS mobile with interest  \
                                                   mean
SK_ID_CURR
100001.0                                           1.00
100002.0                                           0.00
100003.0                                           0.00
100004.0                                           0.00
100005.0                                           0.50
...                                                 ...
456251.0                                           1.00
456252.0                                           0.00
456253.0                                           1.00
456254.0                                           0.50
456255.0                                           0.25

           PRODUCT_COMBINATION_POS mobile without interest  \
                                                      mean
SK_ID_CURR
100001.0                                               0.0
100002.0                                               0.0
100003.0                                               0.0
100004.0                                               1.0
100005.0                                               0.0
...                                                    ...
456251.0                                               0.0
456252.0                                               0.0
456253.0                                               0.0
456254.0                                               0.0
456255.0                                               0.0

           PRODUCT_COMBINATION_POS other with interest  \
                                                  mean
SK_ID_CURR
100001.0                                           0.0
100002.0                                           1.0
100003.0                                           0.0
100004.0                                           0.0
100005.0                                           0.0
...                                                ...
456251.0                                           0.0
456252.0                                           0.0
456253.0                                           0.0
456254.0                                           0.0
456255.0                                           0.0

           PRODUCT_COMBINATION_POS others without interest  \
                                                      mean
SK_ID_CURR
100001.0                                               0.0
100002.0                                               0.0
100003.0                                               0.0
100004.0                                               0.0
100005.0                                               0.0
...                                                    ...
456251.0                                               0.0
456252.0                                               0.0
456253.0                                               0.0
456254.0                                               0.0
456255.0                                               0.0

           PRODUCT_COMBINATION_nan
                              mean
SK_ID_CURR
100001.0                       0.0
100002.0                       0.0
100003.0                       0.0
100004.0                       0.0
100005.0                       0.0
...                            ...
456251.0                       0.0
456252.0                       0.0
456253.0                       0.0
456254.0                       0.0
456255.0                       0.0

[334722 rows x 189 columns]

In [22]:
# 5.4 Rename multiindex columns:

prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
prev_agg = prev_agg.reset_index()
prev_agg

,SK_ID_CURR,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_ANNUITY_MEAN,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,...,PREV_PRODUCT_COMBINATION_Cash X-Sell: middle_MEAN,PREV_PRODUCT_COMBINATION_POS household with interest_MEAN,PREV_PRODUCT_COMBINATION_POS household without interest_MEAN,PREV_PRODUCT_COMBINATION_POS industry with interest_MEAN,PREV_PRODUCT_COMBINATION_POS industry without interest_MEAN,PREV_PRODUCT_COMBINATION_POS mobile with interest_MEAN,PREV_PRODUCT_COMBINATION_POS mobile without interest_MEAN,PREV_PRODUCT_COMBINATION_POS other with interest_MEAN,PREV_PRODUCT_COMBINATION_POS others without interest_MEAN,PREV_PRODUCT_COMBINATION_nan_MEAN
0,100001.0,3951.000,3951.000,3951.000000,24835.5,24835.5,24835.500,23787.0,23787.0,23787.00,...,0.00,0.000000,0.0,0.000000,0.0,1.00,0.0,0.0,0.0,0.0
1,100002.0,9251.775,9251.775,9251.775000,179055.0,179055.0,179055.000,179055.0,179055.0,179055.00,...,0.00,0.000000,0.0,0.000000,0.0,0.00,0.0,1.0,0.0,0.0
2,100003.0,6737.310,98356.995,56553.990000,68809.5,900000.0,435436.500,68053.5,1035882.0,484191.00,...,0.00,0.333333,0.0,0.333333,0.0,0.00,0.0,0.0,0.0,0.0
3,100004.0,5357.250,5357.250,5357.250000,24282.0,24282.0,24282.000,20106.0,20106.0,20106.00,...,0.00,0.000000,0.0,0.000000,0.0,0.00,1.0,0.0,0.0,0.0
4,100005.0,4813.200,4813.200,4813.200000,0.0,44617.5,22308.750,0.0,40153.5,20076.75,...,0.00,0.000000,0.0,0.000000,0.0,0.50,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334717,456251.0,6605.910,6605.910,6605.910000,40455.0,40455.0,40455.000,40455.0,40455.0,40455.00,...,0.00,0.000000,0.0,0.000000,0.0,1.00,0.0,0.0,0.0,0.0
334718,456252.0,10074.465,10074.465,10074.465000,57595.5,57595.5,57595.500,56821.5,56821.5,56821.50,...,0.00,0.000000,1.0,0.000000,0.0,0.00,0.0,0.0,0.0,0.0
334719,456253.0,3973.095,5567.715,4770.405000,19413.0,28912.5,24162.750,13945.5,27306.0,20625.75,...,0.00,0.000000,0.0,0.000000,0.0,1.00,0.0,0.0,0.0,0.0
334720,456254.0,2296.440,19065.825,10681.132500,18846.0,223789.5,121317.750,21456.0,247423.5,134439.75,...,0.00,0.500000,0.0,0.000000,0.0,0.50,0.0,0.0,0.0,0.0
334721,456255.0,2250.000,54022.140,20775.391875,45000.0,1170000.0,362770.875,45000.0,1271929.5,424431.00,...,0.25,0.000000,0.0,0.125000,0.0,0.25,0.0,0.0,0.0,0.0

In [24]:
prev_agg['SK_ID_CURR'] = prev_agg['SK_ID_CURR'].astype('int64')

In [26]:
prev_agg.to_csv('stat_prev.csv', index=False)